.tooltip {
    position: absolute;
    background: white;
    transition: opacity 500ms, transform 500ms;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    min-width: 280px;
}

.tooltip-arrow {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-top-color: white;
}